.box-name-page{
    width:100%;
    background-color:$gray;
    min-height:100px;
    text-align: center;
    padding:10px;
    h1{
        color:$cm;
        font-size:24px;
        padding:10px 0 5px 0;
        margin-bottom:5px;
    }
    h3{
        font-size:16px;
        a{
            color:#000;
            &:hover{
                color:$cs;
            }
        }

    }
}

section{
    &.section{
        padding:30px 0;
        font-weight: 300;
        font-size:14px;
        line-height: 24px;
        .text-justify{
            text-indent: 20px;
        }
        h3{
            font-size:21px;
            display:block;
            max-width:360px;
            margin:0 auto;
            text-align: center;
            margin-bottom:30px;
            position: relative;
        }
        &.white{
            color:#fff;
            h3{
                &::after {
                    content: "";
                    display:block;
                    bottom:0;
                    margin:10px auto 0 auto;
                    width:30%;
                    height:1px;
                    background-color: #fff;
                }
            }
        }
        &.black{
            color:#000;
            h3{
            &::after {
                content: "";
                display:block;
                bottom:0;
                margin:10px auto 0 auto;
                width:30%;
                height:1px;
                background-color: #000;
            }
           }
        }

        &.black-h-blue{
            color:#000;
            h3{
              color:$cm;
            &::after {
                content: "";
                display:block;
                bottom:0;
                margin:10px auto 0 auto;
                width:30%;
                height:1px;
                background-color: $cm;
            }
           }
        }

        &.sec-about-1{
            background:url('../img/HITAP-bg-about1.jpg') no-repeat #5B96B8 -200px top;
            background-size:cover;
            
        }
        &.sec-about-2{
            background:url('../img/HITAP-bg-about2.jpg') no-repeat #5E93BA center top;
            background-size:cover;
            min-height:450px;
            padding-bottom:250px;
            
        }
        &.sec-about-3{
            background:url('../img/HITAP-bg-about3.jpg') no-repeat #5E93BA center top;
            background-size:cover;
            min-height:400px;
            padding-bottom:100px;
        }
        &.sec-about-4{
            background:url('../img/HITAP-bg-about4.jpg') no-repeat #5E93BA center top;
            background-size:cover;
            min-height:400px;
            padding-bottom:100px;
            
        }
        &.sec-about-5{
            background:url('../img/HITAP-bg-about5.jpg') no-repeat #5E93BA center top;
            background-size:cover;
            min-height:400px;
            padding-bottom:100px;

            .nav-tabs
            {   float:left;
                display:block;
                border-bottom:0;
                border-left:1px solid #fff;
                li{
                    display:block;
                    width:100%;
                    height:30px;
                    float:left;
                    position: relative;
                    a{
                        width:100%;
                        height:30px;
                        display:block;
                        color:#fff;
                        padding-left:20px;
                        
                    }
                    &:hover,&.active{
                        a{
                            color:$cs;
                        }
                        &::before{
                            content: "";
                            display:block;
                            width:10px;
                            height:10px;
                            background-color: $cs;
                            border-radius: 50%;
                            position: absolute;
                            left:-5px;top:7px;
                            border:1px solid #fff;
                        }

                    }
                    &::before{
                        content: "";
                        display:block;
                        width:8px;
                        height:8px;
                        background-color: #fff;
                        border-radius: 50%;
                        position: absolute;
                        left:-4px;top:8px;
                    }
                }
            }
             .tab-content{
                background-color:rgba(113, 206, 255,0.4);
                padding:20px;
            }
            
        }
    }


}

@media (max-width: 767.99px) { 

    section.section h3{
        font-size:18px;
    }

}


@media (max-width: 716.99px) { 

    section.section.sec-about-5 .nav-tabs li a{
        padding-left:7px;
        font-size: 12px;
    }

}


@media (max-width: 578px) { 

    section.section.sec-about-5 .nav-tabs{
        border:none;
    }
    section.section.sec-about-5 .nav-tabs li:hover::before, section.section.sec-about-5 .nav-tabs li.active::before{
      
        display:none;

    }

    section.section.sec-about-5 .nav-tabs li::before{
        display:none;
    }

    section.section.sec-about-5 .nav-tabs li 
    {   
        max-width:180px;
        width:31%;
        margin-bottom:5px;
        margin-right:8px;
        a{
            font-size: 10px;
            background-color:#000;
            height:auto;
            text-align: center;
            
        }
    }


}

@media (max-width: 420px) { 
    section.section.sec-about-5 .nav-tabs li 
    {   
        max-width:180px;
        width:48%;
        height:auto;
        margin-bottom:5px;
        margin:5px 1%;
    }
}