.box-contact{
    width:100%;
    display:block;
    background-color:$gray;
    min-height:500px;
    #map{
        background-color: #585757;
        height:400px;
    }
}

.box-address{
    padding:70px 20px;
    h5{
        color:$cm;
        font-weight: 200;
    }
    h6{
        font-weight: 200;
    }
    table{
        font-size:14px;
        text-align: left;
        td{
            padding:5px 3px;
        }
    }
    input,textarea{
        font-size:14px;
        &::placeholder{
            font-style:italic;
        }
        &.error{
            border:1px solid $cs;
        }
    }
    label.error{
        color:$cs;
        display:block;
        margin:5px 0;
        font-size:12px;
    }

}