.box-vision-mission{
    background: url('../img/HITAP-bg-vision.jpg') no-repeat;
    background-size: cover;
    display:block;
    min-height:400px;
    padding:50px 20px;
    h2{
        font-size:24px;
        color:$cs;
    }

    .b-in{
        padding:10px 0;
        color:#fff;
        float:left;
    }

    .list-mission{
        display:block;
        margin:0;
        float:left;
        margin-left:0;
        padding:0 10px;
        li{
            float:left;
            display:block;
            padding-left:10px;
            position: relative;
            &::before{
                content:'●';
                display:block;
                position: absolute;
                left:-10px;
                top:1px;

            }
        }
    }
}

.box-list-hitap{
background-color:$gray;
padding:30px;
min-height:350px;
.l-i{
    margin:20px 0;
}
h3{
    position:absolute;
    left:0;
    top:-8px;
    display:block;
    font-size:36px;
    margin-right:10px;
    color:$cm;
    width:36px;
    height:36px;
    text-align: center;
}
h4{
    color:$cm;
    font-size:21px;
    display: inline-block;
    padding-left:40px;
}
}

@media (max-width: 620px) { 

    .box-vision-mission
    
    {
     .b-in{
         font-size:14px;
     }
     h2 {
        font-size: 18px;
      }
    }
    
}

@media (max-width: 480px) { 

    .box-list-hitap{
        font-size:14px;
        h4{
            font-size:18px;
        }
    }
    
}

@media (max-width: 360px) { 

    .box-list-hitap{
        font-size:12px;
        h3 {
            left: 10px;
            top: -5px;
            font-size: 24px;
            margin-right: 10px;
            color: $cm;
            width: 28px;
            height: 28px;
            border:1px solid $cm;
        }
        h4{
            font-size:14px;
            padding-left:30px;
        }
    }
    
}