@import "font";
$cm : #2A4C80;
$cs : #71CEFF;
$gray: #E4E4E4;
*{
        font-family: 'Prompt';
        outline: none; 
}
html,body{
    overflow-x: hidden;
}
img{
    max-width:100%;
}
a{
    &:hover{
        text-decoration: none;
    }
    
}
a.btn-main,button.btn-main{
    padding:5px 2.7em;
    color:$cs;
    font-size:12px;
}

header{
    padding:20px 0;
}

.top-menu{
    width:100%;
    display:block;
    background:url('../img/bg-top-menu.png') no-repeat center center $cm;
    height:37px;
    .navbar{
        padding:0;
        margin:0;
    }
}
.menu-main{
    height:37px;
    display:block;
    margin:0;
    padding:0;
    li{
        display:block;
        float:left;
        height:37px;
        margin:0;
        a{
            font-size:14px;
            color:#fff;
            text-align: center;
            padding:0.1em 1.4em;
            display:block;
            height:37px;
            line-height:37px;
            &:hover{
                border-bottom:3px solid $cs;
            }
        }
        &.active{
            a{
                border-bottom:3px solid $cs;
            }
        }
    }
}

.menu-right{
    color:#fff;
    margin:0;
    padding:0;
    height:37px;
    display:block;
    .social{
        display:inline-block;
        height:37px;
        margin:0;
        padding:0;
        li{
            display:block;
            float:left;
            padding-top:5px;
            margin-right:10px;
            a{
                width:28px;height:28px;
                display:block;
                border-radius:50%;
                border:1px solid #fff;
                text-align:center;
                color:#fff; 
                padding-top:2px;


            }
            &:hover{
                a{
                    color:$cs;
                    border:1px solid $cs;
                }
                
            }
        }

    }

    .btn-login{
        height:37px;
        background-color:$cs;
        float:right;
        margin-left:10px;
        padding:8px 2em;
        color:#fff;
        &[aria-expanded=true] {
            background-color: rgb(66, 66, 65);
        }

    }

    .dropdown-menu{
        left:-150px;
    }
}
.bg-cm{
    background-color:$cm;
}
.carousel-indicators{
    bottom:5px;
}
.carousel-indicators li{
    width:15px;
    height:15px;
   // background-color: #fff;
    border-radius: 50%;
    border:1px solid $cm;
    margin:0 6px;
}




.list-project{
    width:100%;
    display:block;
    padding:20px 0;
    .col-sm{
        padding:5px;
        &:hover ,&.active{
            .border-main{
                border:2px solid $cs;
            }
        }
    }

    .border-main{
        border:2px solid $cm;
    }
}


.title-project{
font-size:12px;
color:$cm;
font-weight:bold;
margin:10px 0 2px 0;
}

.intro-project{
    font-size:12px;
    margin-bottom:20px;
    color:#000;
}

.bg-gray{
    background-color:$gray;
}


.box-lastest{
    .l-m{
        border-right:2px solid #fff;
        &:last-child{
            border:none;
        }
    }

    .box-logo{
        width:100%;
        height:90px;
        padding:20px 10px;
        text-align: center;
    }
    
}

.box-last-in{
    padding:10px 0;
    display:block;
    min-height:240px;
    a.head{
        width:100%;
        height:33px;
        display:block;
        background:url('../img/arrow-head.png') no-repeat right center $cm;
        //background-color:$cm;
        color:#fff;
        padding:2px 15px;
        margin:10px 0 20px 0;
        font-size:18px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        &:hover{
            color:$cs;
        }
    }
    .date-visit{
      font-size:16px;
      font-family: 'UPC-Cordia';
    }
    .title-h{
      font-size:14px;
      line-height:16px;
      color:$cm;
      display:block;
      margin-bottom:5px;
    }

    .detail-in{
        font-size:16px;
        font-family: 'UPC-Cordia'; 
        line-height:16px;
        .read-txt{
            font-size:16px;
            font-family: 'UPC-Cordia'; 
            font-weight:bold;
            line-height:16px;
            color:$cm;
        }

        .btn-read{
            display:block;
            margin:40px 10px 10px 10px;
            background-color:#3F3F3F;
            padding:0.5em 2.2em;
            color:$cs;
            font-size:12px;
            border-radius:5px; 
            &:hover{
                color:#fff;
            }
        }
    }
}


// slide footer
.slide-footer{
    width:100%;
    min-height:150px;



  
}
.slick-prev.prev-project {
    width: 30px;
    height: 30px;
    background: url("../img/prev-project.png") no-repeat center right ;
    margin-top: -5px;
  }
  .slick-next.next-project {
    width: 30px;
    height: 30px;
    background: url("../img/next-project.png") no-repeat center left;
    margin-top: -5px;
   }

#carouselExampleControls1{
    padding:0 10px;
    img{
        max-width:96%;
    }
    h3{
        font-size:12px;
        color:$cm;
        line-height:14px;
        margin:3px 0;
    }
    h4{
        font-size:10px;
        color:#000;
        line-height:14px;
        margin:3px 0;
    }

    .carousel-control-prev-icon{
        background: url("../img/prev-project.png") no-repeat center right ;
        margin-left:-35px;
        margin-top:-50px;
    }
    .carousel-control-next-icon{
        background: url("../img/next-project.png") no-repeat center left;
        margin-right:-35px;
        margin-top:-50px;
    }
}


.slide-1,.slide-2,.slide-3{
    display:block;
    width:100%;
    margin:30px 0;
    float:left;
    padding-left:10px;
    li{
        display:block;
        float:left;
        a{

            &:hover{
                opacity: 0.8;
            }
        }
    }
}

.box-tap{
    width:100%;
    height:30px;
    border-bottom:1px solid $cm;
    .tab-foot{
        display:block;
        width:360px;
        height:30px;
        margin:20px auto;
        background-color:#fff;
        position: relative;
        bottom:-2px;
        padding:0;
        li{
            display:block;
            width:105px;
            height:30px;
            float:left;
            color:$cm;
            padding:5px 0;
            text-align: center;
            border-bottom:3px solid $gray;
            margin:0 7px;
            cursor: pointer;

            &:hover,&.active{
                border-bottom:3px solid $cm;
            }
        }
    }
}

.all-f{
    width:100%;
    display:block;
    min-height:140px;
    position:relative;
    float:left;
    .loading-tap{
        position: absolute;
        left:0;
        top:3px;
        z-index: 9999;
        width:100%;
        height:100%;
        background:url('../img/loading-tab.gif') no-repeat center center #fff;
        display:block;
    }
}



//footer
footer{
    background-color:$cm;
    padding:35px 10px 35px 10px;
    color:#fff;
    h6{
        margin-bottom:20px;
    }
}
.contact-footer{

    font-size:16px;
    line-height:16px;
    img{
        float:left;
        margin:0 5px 10px 0;
        width:25px;
    }
    span{
        font-family: 'UPC-Cordia';
        float:right;
        display:block;
        max-width:165px;
        width:100%;
        margin-bottom:10px;
        &.font-en{
            font-size:18px;
            line-height:18px;
        }
    }
}
.padding-cen{
    padding:5px 0;
}
.copyright{
    font-size:16px;
    font-family: 'UPC-Cordia';
}

@import "about";
@import "vision";
@import "manager";
@import "contact";

div{
    &.ham{
        width:30px;
        height:37px;
        float:right;
        display:none;
        cursor: pointer;
        margin-left:20px;
        div {
            width: 30px;
            height: 4px;
            background-color: #fff;
            margin: 6px 0;
        }

        &.active div{
            background-color:$cs;
        }
    }
}


.slide-main{
    width:100%;
    min-height:450px;
    .ss{
        min-height:450px;
    }

    .slick-dots{
        bottom:15px;
        li button::before {
            line-height: 18px;
            position: absolute;
            top: 0;
            left: 0;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            border:2px solid $cm;
            content: '';
            background-color:#fff;
        }
    }


}

.slide-main2{
    display:none;
}



@media (max-width: 991.99px) {
    
    div{
        &.ham{
            display:block;

        }
    }
    .menu-main{
        display:none;
        position:absolute;
        left:0;
        top:37px;
        z-index: 99999;
        width:100%;
        background-color:$cm;
        height:auto;
        li{
            width:100%;
            a{
                border-bottom:1px dashed $cs;
            }
            &.active ,&:hover{
                a {
                    color:$cs;
                    border-bottom:1px dashed $cs;
                }
            }
        }
    }
    .menu-right{
        width:100%;
    }





// slide main

.slide-main{
    width:100%;
    min-height:250px;
    .ss{
        min-height:250px;
        background-size:1000px auto !important;
    }
}

//list project

.box-last-in a.head{
    font-size:12px;
    padding-top:5px;
}

//tab footer
.box-tap .tab-foot li{
    width:92px;
}

 }


 @media (max-width: 570px) { 
 .box-last-in a.head{
    font-size:16px;
    padding-top:5px;
}

.box-last-in iframe{
  height:250px !important;
}

 }


 @media (max-width: 520px) { 
    .slide-main{
        width:100%;
        min-height:170px;
        .ss{
            min-height:170px;
            background-size:700px auto !important;
        } 
    }



 }
 

 @media (max-width: 359.99px) { 

 .menu-right .btn-login{
     padding:8px 1.5em
     
 }
 .box-name-page{
     h1{
         font-size:18px;
     }
     h3{
         font-size: 14px;
     }
 }

 .slide-main{
    width:100%;
    min-height:150px;
    .ss{
        min-height:150px;
        background-size:600px auto !important;
    } 
}

 }